@font-face {
    font-family: IBM Plex Mono;
    src: url(https://fonts.google.com/specimen/IBM+Plex+Mono?preview.text=IBM%20Plex%20&query=+IBM+Plex+Mono);
}



body {

    /* Прячем лишний контент */
    background-color: #000000;
    /* Цвет фона */
    align-self: auto;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-weight: 100;
    font-style: normal;

}

header {
    max-width: 1024px;
    width: 100%;
    max-height: 768px;
    /* Чтобы занимать всю ширину до максимума */
    height: 100%;
    margin: auto;
    /* Центрируем контейнер */
    overflow: hidden;
    background-color: #000028;


}

.backg {
    background-image: url(imgproe/cover-image-dark.png);
}

.zag {
    display: flex;
    flex-direction: row;
    color: #FF0070;
    font-size: 26px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dan {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
    font-weight: 400;

}

button {
    background-color: transparent;
  border: none;
    outline: none;
    color: #FF0070;
}
.dan1 {
    border: #FF0070;
    border-width: 1px;
    border-style: solid;
}

.lamp {
    display: flex;
    position: relative;
    color: #FF0070;
    top: 18px;
    left: 943px;
}

.lamp>p {
    margin-top: 0;
}

.to4ka {
    display: block;
    width: 9px;
    height: 9px;
    filter: drop-shadow(0px 0px 4px #FF0070);
    background-color: #FF0070;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 10px;

}

.ygl1 {
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;
    height: 20px;
    width: 20px;
}

.ygl2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;
    height: 20px;
    width: 20px;
}



h1 {
    font-family: IBM Plex Mono;
    color: #DB00FF;
    font-size: 157px;
    padding-top: 250px;
    margin-top: 0;
    text-shadow: 4px 4px #FF0070;
}


.zagp {
    top: 563px;
    margin-left: 513px;
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 134px;
    padding-bottom: 0;
}



.dtv {
    padding-bottom: 53px;
}

section {
    max-width: 1024px;
    width: 100%;
    max-height: 768px;
    /* Чтобы занимать всю ширину до максимума */
    height: 100%;
    margin: auto;
    /* Центрируем контейнер */
    overflow: hidden;
    background-color: #000028;
}

.section1 {
    padding-top: 50px;
    max-height: 508px;
    padding-bottom: 80px;


}

.zag1 {
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    font-weight: bold;
}

.wt {
    font-size: 18px;
    color: #F1B2CE;
    font-weight: 400;
}

.pt {
    color: #FF0070;
    font-weight: 700;
    font-size: 18px;
    width: 315px;
    margin-right: 10px;

}

.section2>.pt {
    margin-left: 20px;
}

.column1 {
    display: flex;
    width: 984px;
    height: 508px;
    margin-left: 20px;
    margin-right: 20px;
}

.sst {
    margin-left: 20px;
    margin-right: 20px;
}

.zag2 {
    font-size: 18px;
    font-weight: 400;
    background-color: #FF0070;

}

.section3 {
    max-height: 1115px;

}

.column2 {
    display: flex;
    height: 21515px;
}

.section4 {
max-height: 1024px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: repeat(3, 315px);
    gap: 20px;
    
}

.kartinka1 {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    background-image: url(imgproe/2107.w026.n002.597B.p1.png);
}
.kartinka2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-image: url(imgproe/72538572.png);
}
.kartinka3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-image: url(imgproe/5211598.png);
}
.kartinka4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(imgproe/6891867.png);
}
.kartinka5 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-image: url(imgproe/4248613.png);
}

footer {
    max-width: 1024px;
    width: 100%;
    max-height: 1000px;
    /* Чтобы занимать всю ширину до максимума */
    height: 100%;
    margin: auto;
    /* Центрируем контейнер */
    overflow: hidden;
    background-color: #000028;
    padding-top: 60px;
}

.focus {
    margin-top: 69px;
    margin-left: 277px;
}

a {
    color: #F1B2CE;
    text-shadow: 2px 2px #FF0070;
    text-decoration: none;
}