@font-face {
    font-family: IBM Plex Mono;
    src: url(https://fonts.google.com/specimen/IBM+Plex+Mono?preview.text=IBM%20Plex%20&query=+IBM+Plex+Mono);
}



body {

    /* Прячем лишний контент */
    background-color: #000000;
    /* Цвет фона */
    align-self: auto;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;

}

header {
    max-width: 1024px;
    width: 100%;
    max-height: 768px;
    /* Чтобы занимать всю ширину до максимума */
    height: 100%;
    margin: auto;
    /* Центрируем контейнер */
    overflow: hidden;
    background-color: #000028;
    

}
.backg {
background-image: url(https://s3-alpha-sig.figma.com/img/dfd0/bdda/b7b566964fd701840768cd9eecd5ea42?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ADGkT7zF6jvk3rAiHXP3HkgCPUyxNV-gNgc9WULpkx5gOGcDsVOESATml~WECKtjIS-3F1C2OEt5UvHm9RRk8dVd-UXPErUwoJrtVg2bGKE7CFIPmP5x1hUVfjt-LBPZGS~QggWyIF3JhKH78W~PEsxPby25jChChFv2MTv8c7vZ1Ft5a2ZrjgqWpd7zWsRVsjINMk4fsv2UCJxoeCwcEYD4YGyd43wMuBK7p5wUAB8tdCgjGi6aXSvRHRnz~N4kUcPyGTxL5sFLVJq9yqTXHDwSSoPJpgsOzdyf2cN~rv2KbakKVOXB2Wm2gFHoShr6Mn4eg9uXxz21-JhqdrkP1g__);
}

.zag {
    display: flex;
    flex-direction: row;
    color: #FF0070;
    font-size: 26px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.lamp {
    display: flex;
    position: relative;
    color: #FF0070;
    top: 18px;
    left: 943px;
}

.dan {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
    font-weight: 400;

}
.dan1 {
 border: #FF0070;
 border-width: 1px;
 border-style: solid;
}

h1 {
    font-family: IBM Plex Mono;
    color: #DB00FF;
    font-size: 157px;
    padding-top: 299px;
    margin-top: 0;
    text-shadow: 4px 4px #FF0070;
}


.zagp {
    top: 563px;
    margin-left: 513px;
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 134px;
    padding-bottom: 0;
}



.dtv {
    padding-bottom: 53px;
}

section {
    max-width: 1024px;
    width: 100%;
    max-height: 768px;
    /* Чтобы занимать всю ширину до максимума */
    height: 100%;
    margin: auto;
    /* Центрируем контейнер */
    overflow: hidden;
    background-color: #000028;
}

.section1 {
    padding-top: 50px;
    max-height: 508px;

}
.zag1 {
    background-color: #FF0070;
    color: #000028;
    font-size: 18px;
    font-weight: bold;
}
.wt {
 font-size: 18px;
 color: #F1B2CE;
 font-weight: 400;
}
.pt {
    color: #FF0070;
    font-weight: 700;
    font-size: 18px;
    width: 315px;
    
}
.column1 {
    display: flex;
    width: 984px;
    height: 508px;
    margin-left: 20px;
    margin-right: 20px;
}